<button pButton type="button" label="Add new user" class="p-button-success" (click)="openForm('Add')" [disabled]="isFormOpen"></button>

<button *ngIf="selectedUsers.length" pButton pRipple type="button" label="Delete selected" class="p-button-danger"
	(click)="openDeleteSelectedUsersDialog()" [disabled]="isFormOpen"></button>

<p-table [columns]="columns" [value]="users" selectionMode="checkbox" [(selection)]="selectedUsers" >
	<ng-template pTemplate="header">
		<tr>
			<th style="width: 2%">
				<p-tableHeaderCheckbox [disabled]="isFormOpen"></p-tableHeaderCheckbox>
			</th>
			<th *ngFor="let column of columns" [ngStyle]="{'width': column.width}">
				{{column.header}}
			</th>
		</tr>
	</ng-template>
	<ng-template pTemplate="body" let-user>
		<tr>
			<td>
				<p-tableCheckbox [value]="user" [disabled]="isFormOpen"></p-tableCheckbox>
			</td>
			<td>{{user.id}}</td>
			<td>{{user.firstName}}</td>
			<td>{{user.lastName}}</td>
			<td>{{user.username}}</td>
			<td>{{user.email}}</td>
			<td>
				<button pButton pRipple type="button" icon="pi pi-user-edit" class="p-button-raised p-button-text"
					(click)="openForm('Edit', user.id)" [disabled]="isFormOpen"></button>
				<button pButton pRipple type="button" icon="pi pi-eye" class="p-button-raised p-button-text"
					[routerLink]="['/user', user.id]" [disabled]="isFormOpen"></button>
				<button pButton pRipple type="button" icon="pi pi-trash" class="p-button-danger"
					(click)="openDeleteUserDialog(user)" [disabled]="isFormOpen"></button>
			</td>
		</tr>
	</ng-template>
</p-table>

<p-dialog header="Confirm " [(visible)]="isOpenConfirmDeleteSelectedUsersDialog">
	<button pButton pRipple type="button" label="Ok" class="p-button-raised p-button-text"
		(click)="deleteUsers()"></button>
</p-dialog>

<p-dialog header="Confirm " [(visible)]="isOpenConfirmDeleteUserDialog">
	Confirm you want to delete user {{userToDelete?.email}}
	<br /><br />
	<button pButton pRipple type="button" label="Ok" class="p-button-raised p-button-text"
		(click)="deleteUser()"></button>
</p-dialog>

<app-user-form *ngIf="isFormOpen" [formType]="formType" [userToEdit]="userToEdit" [isEmailTaken]="isEmailTaken"
	(onClose)="closeForm()" (onSubmit)="submitForm($event)" (onUpdateIsEmailTaken)="updateIsEmailTaken($event)">
</app-user-form>

<div *ngIf="errorMessage.statusText" class="errorMessage">
	Status code: {{errorMessage.status}}
	<br/>
	Status text: {{errorMessage.statusText}}
</div>