
<p-dialog header="{{formType}} user " [(visible)]="isVisible" (onHide)="handleHide()" [modal]="true">
	<form *ngIf="userForm" [formGroup]="userForm!" (ngSubmit)="handleSubmitForm()">
		<input type="text" placeholder="First name" id="firstName" formControlName="firstName" />
		<div class="alert" *ngIf="firstNameFormControl?.invalid && 
        firstNameFormControl?.errors && 
        (firstNameFormControl?.dirty || firstNameFormControl?.touched)">

			<small *ngIf="firstNameFormControl?.hasError('required')">
				This field is required.
			</small>
			<small *ngIf="firstNameFormControl?.hasError('minlength')">
				The minimum length for this field is 3 characters.
			</small>

		</div>
		<br /><br />
		<input type="text" placeholder="Last name" id="lastName" formControlName="lastName" />
		<div class="alert" *ngIf="lastNameFormControl?.invalid && 
        lastNameFormControl?.errors && 
        (lastNameFormControl?.dirty || lastNameFormControl?.touched)">

			<small *ngIf="lastNameFormControl?.hasError('required')">
				This field is required.
			</small>
			<small *ngIf="lastNameFormControl?.hasError('minlength')">
				The minimum length for this field is 3 characters.
			</small>

		</div>
		<br /><br />
		<input type="text" placeholder="Email" id="email" formControlName="email" (click)="setIsEmailTakenToFalse()" />
		<small *ngIf="isEmailTaken" class="alert">
			<br/>
			Email is already taken
		</small>
		<div class="alert" *ngIf="emailFormControl?.invalid && 
        emailFormControl?.errors && 
        (emailFormControl?.dirty || emailFormControl?.touched)">

			<small *ngIf="emailFormControl?.hasError('required')">
				This field is required.
			</small>
			<small *ngIf="emailFormControl?.hasError('email')">
				Please enter a valid email address.
			</small>
	
		</div>
		<br /><br />
		<button pButton pRipple [disabled]="userForm.invalid || this.isEmailTaken" type="submit" label="Save"
			class="p-button-raised p-button-text"></button>
	</form>
</p-dialog>